.htxt{
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(45deg, #c2bdbd, #3a3737, #aaa, #303030);
  background-size: 400% 400%; /* Amplia o gradiente para permitir a animação */
  animation: gradientAnimation 15s ease infinite;
}
  
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.btn {
    background-color: #aaa;
    border:  1px solid black;
    padding: 0.7rem;
    border-radius: 15px;
    font-size: 1rem;
    cursor: none; 
}

.btn:hover{
    background-color: #b8b5b5;
}

.menu-item {
    position: relative;
}
  
.menu_cadastros {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.cadastro-box {
    max-width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid black;
    transform: translateY(8%);
    cursor:none;
}
  
.cadastro-box h2 {
    margin-bottom: 2rem;
    font-size: 2.1rem;
    text-align: center;
}
  
.form-pecas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor:none;
}
  
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor:none;
}
  
.form-group label {
    width: 100px;
    font-weight: bold;
}
  
.form-group input {
    flex: 1;
    padding: 0.4rem;
    border: 1px solid #555;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    cursor:none;
}
  
input::placeholder {
    color: #b0b0b0;
    font-style: italic;
}
   
.btn {
    background-color: #aaa;
    border: 1px solid black;
    padding: 0.7rem;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    flex: 1;
    margin: 0 0.3rem;
}

.total-pecas-container {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.total-pecas {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2e7d32;
  margin-top: 0.5rem;
}