.htxt{
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(45deg, #c2bdbd, #3a3737, #aaa, #303030);
  background-size: 400% 400%; /* Amplia o gradiente para permitir a animação */
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.menu_cadastros {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.cadastro-box {
  max-width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid black;
  transform: translateY(13%);
}

.cadastro-box h2 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  text-align: center;
}

.form-funcionario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group label {
  width: 100px;
  font-weight: bold;
}

.form-group input {
  flex: 1;
  padding: 0.4rem;
  border: 1px solid #555;
  border-radius: 5px;
}

input::placeholder {
  color: #b0b0b0;
  font-style: italic;
}

/* Dropdown personalizado */
.dropdown {
  position: relative;
  flex: 1;
}

.dropdown-button {
  background-color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 0.4rem;
  cursor: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown .arrow {
  margin-left: 10px;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #555;
  width: 100%;
  top: 100%;
  left: 0;
  border-radius: 5px;
  z-index: 10;
}

.dropdown-options div {
  padding: 0.4rem;
  cursor: none;
}

.dropdown-options div:hover {
  background-color: #eee;
}

.dropdown.open .dropdown-options {
  display: block;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  background-color: #aaa;
  border: 1px solid black;
  padding: 0.7rem;
  border-radius: 15px;
  font-size: 1rem;
  cursor: none;
  flex: 1;
  margin: 0 0.3rem;
}
